.wrapper_elem_found {
    min-width: 360px;
    min-height: 80px;
    margin-top: 10px;
    display: flex;
    background-color: rgba(137, 137, 137, 0.7);
}

.wrapper_elem_found:hover {
    box-shadow: 0px 1px 10px white;
}

.avatar_found_user {
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 80px;
    background-color: black;
}

.info_user {
    margin-left: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name_wrapper {
    display: flex;
}
.username_info {
    font-size: 25px;
}

.info_last_name {
    margin-left: 6px;
}

.list_chats_setting {
    width: 360px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_elem_setting {
    font-size: 25px;
    margin-top: 5px;
    max-width: 310px;
    min-width: 310px;
    max-height: 70px;
    min-height: 70px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.wrapper_elem_setting:hover {
    background-color: rgba(6, 125, 0, 0.62);
}


.list_chats {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 91%;
    max-height: 91%;
    min-width: 97%;
    max-width: 97%;
}

.field_found_users {
    overflow-y: auto;
}



.wrapper_for_element_find {
    width: 95%;
    min-height: 50px;
    margin-top: 0;
}