.wrapper_zip_menu {
    display: flex;
    flex-direction: column;
}


.header_zip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
    margin-left: 100px;
}
.body_zip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_body_zip{
    display: flex;
    flex-direction: column;
    height: 80px;
    border-bottom: 2px solid gray;
    justify-content: space-around;
    font-size: 20px;
}
.input_zip{
    max-width: 700px;
    min-width: 700px;
    max-height: 38px;
    min-height: 38px;
    outline:none;
    background-color: gray;
    font-size: 20px;
    border: none;
    padding-left: 4px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.data_setting_zip {
    width: 700px;
    height: 40px;
    padding-left: 5px;
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
}

.buttons_manage_zip {
    display: flex;
    height: 40px;
    width: 210px;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 55px;
}

.btn_reset_zip {
    font-size: 16px;
    height: 40px;
    width: 100px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 15px;
}

.header_wrapper_zip {
    display: flex;
    background-color: rgba(46, 46, 46, 0.89);
    justify-content: space-between;
}

.btn_collapse {
    margin-right: 50px;
    font-size: 25px;
    transform: rotate(270deg);
    transition: 0.6s;
}

.btn_collapse_open {
    transition: 0.6s;
    margin-right: 70px;
    font-size: 25px;
    transform: rotate(90deg);

}

.btn_save_zip {
    height: 40px;
    width: 100px;
    font-size: 16px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 15px;
}

.btn_reset_zip:hover {
    border: 2px solid white;
}

.btn_save_zip:hover {
    border: 2px solid white;
}

.disabled_btn_zip {
    background-color: gray;
}