.wrapper_find_element {
    min-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.textarea_find_elem {
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    padding-top: 6px;
    padding-right: 15px;
    font-size: 14px;
    resize: none;
    white-space: nowrap;
    width: 100%;
    height: 20px;
    overflow-x: clip;
    outline: none;
}

.clear_filter_text {
    position: absolute;
    right: 10px;
    top: -4px;
    font-size: 27px;
    cursor: pointer;
}