.errors_message_auth {
    border: 1px solid red;
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(255, 133, 137, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors_message_auth b{
    margin-left: 10px;
    margin-right: 10px;
}
