.wrapper_elem_found {
    min-width: 340px;
    min-height: 80px;
    margin-top: 5px;
    display: flex;
    background-color: rgba(137, 137, 137, 0.7);
}

.wrapper_elem_found:hover {
    box-shadow: 0px 1px 10px white;
}

.avatar_found_user {
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 80px;
    background-color: black;
}

.info_user {
    margin-left: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name_wrapper {
    display: flex;
}
.username_info {
    font-size: 25px;
}

.info_last_name {
    margin-left: 6px;
}
