html, body {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('./static/image/back.jpg');
  justify-content: center;
  align-items: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* MainContainer*/
.wrapper_main {
  border: 2px solid green;
  min-width: 1200px;
  min-height: 850px;
  max-width: 1200px;
  max-height: 850px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.wrapper_left {
  min-width: 31%;
  margin-right: 10px;
  background-color: rgba(22, 22, 22, 0.79);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info {
  min-height: 15%;
  background-color: black;
  width: 100%;
  display: flex;
}

.wrapper_user_info {
  background-color: rgba(24, 61, 24, 0.97);
  width: 100%;
  height: 100%;
  display: flex;
}

.avatar_user {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 15px;
}
.data_user {
  margin-left: 10px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name_user {
  font-size: 17px;
}
.username_top {
  margin-top: -10px;
}
.status {
  background-color: rgba(234, 234, 234, 0.51);
  width: 250px;
  height: 40px;
  font-size: 12px;
}

.find_block {
  min-height: 5%;
  display: flex;
  width: 100%;
}

.field_for_finding_text {
  background-color: rgba(223, 223, 223, 1);
  width: 300px;
  height: 25px;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 15px;
}

.menu_user_list {
  margin-top: 10px;
  max-height: 5%;
}

.menu_user_list_btn {
  width: 340px;
  height: 25px;
  background-color: green;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 4px;
}
.menu_user_list_btn:hover {
  box-shadow: 1px 1px 10px white;
}

.button_add_user {
  margin-top: 5px;
  margin-left: 5px;
  height: 35px;
  width: 35px;
}

.list_chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 91%;
}

.list_group_style{

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 91%;
  background-color: rgba(230, 230, 230, 0.4);
}

.chat_short_in_list {
  height: 80px;
  margin-top: 3px;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.chat_short_in_list:hover {
  background-color: rgba(177, 201, 177, 0.79);
}
.chat_short_in_list:focus {
  background-color: rgba(30, 109, 30, 1);
}

.selected_user {
  background-color: rgba(7, 133, 0, 0.47);
}

.avatar_list {
  width: 70px;
  height: 70px;
  background-color: green;
  border-radius: 50px;
  margin-right: 10px;
}

.info_short_list {
  width: 260px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.name_date_chat_short {
  width: 100%;
  height: 25px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}


.name_chats {
  font-size: 24px;
}

.last_msg_short_wr {
  width: 100%;
  height: 25px;

}

.last_msg_short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}



.wrapper_right {
  min-width: 68%;
  min-height: 100%;
}

