html, body {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('./static/image/back.jpg');
  justify-content: center;
  align-items: center;
}


/* MainContainer*/
.wrapper_main {
  border: 2px solid green;
  min-width: 1200px;
  min-height: 850px;
  max-width: 1200px;
  max-height: 850px;
  background-color: rgba(44, 43, 43, 0.85);
  display: flex;
  justify-content: center;
}

.wrapper_left {
  min-width: 31%;
  margin-right: 10px;
  background-color: rgba(22, 22, 22, 0.79);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info {
  min-height: 12%;
  background-color: black;
  width: 100%;
  display: flex;
}

.wrapper_user_info {
  background-color: rgba(24, 61, 24, 0.97);
  width: 100%;
  height: 100%;
  display: flex;
}

.avatar_user {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 15px;
}
.data_user {
  margin-left: 10px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name_user {
  font-size: 17px;
}
.username_top {
  margin-top: -10px;
}
.status {
  background-color: rgba(234, 234, 234, 0.51);
  width: 250px;
  height: 40px;
  font-size: 12px;
}

.find_block {
  min-height: 5%;
}

.field_for_finding_text {
  background-color: rgba(223, 223, 223, 1);
  width: 320px;
  height: 26px;
  border-radius: 15px;
  margin-top: 5px;
  padding-left: 15px;
}


.list_chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80%;
}

.chat_short_in_list {
  height: 80px;
  margin-top: 3px;
  width: 360px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.chat_short_in_list:hover {
  background-color: rgba(177, 201, 177, 0.79);
}
.chat_short_in_list:focus {
  background-color: rgba(30, 109, 30, 1);
}

.avatar_list {
  width: 70px;
  height: 70px;
  background-color: green;
  border-radius: 50px;
  margin-right: 10px;
}

.info_short_list {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name_date_chat_short {
  width: 100%;
  height: 25px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.last_msg_short_wr {
  width: 100%;
  height: 25px;

}

.last_msg_short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}



.wrapper_right {
  min-width: 68%;
  min-height: 100%;
}

.start_message {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  white-space: break-spaces;
  text-align: center;
  text-shadow: 0px 1px 10px white;
}