
.start_message {
    min-height: 840px;
    min-width: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    white-space: break-spaces;
    text-align: center;
    text-shadow: 0px 1px 10px white;
}

.dialog_user {
    min-height: 840px;
    min-width: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_dialog {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    align-items: center;

}
.userinfo_dialog{
    font-size: 25px;
    margin-left: 20px;
}
.menu_user_dialog{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 30px;
}

.btn_select_msgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid green;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn_select_msgs i {
    margin-top: -2px;
    margin-bottom: -13px;
}

.content_dialog {
    height: 690px;
    background-color: rgba(214, 213, 213, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: auto;
}
.content_full {
    justify-content: normal;
}

.message_crud_dialog{
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_dialog {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 40px;
}

.text_enter_dialog {
    height: 35px;
    width: 400px;
}
.btn_send_msg_dia {
    height: 35px;
    width: 100px;
}

.wrapper_dialog_user {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 10px;
    align-items: start;
    justify-content: space-between;
    align-self: end;
    margin-right: 30px;
    position: relative;
}


.wrapper_dialog_fr {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-self: start;
    padding: 10px 20px 10px 10px;
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
}

.wrapper_dialog_user:hover {
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.wrapper_dialog_fr:hover {
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.text_dial_user {
    max-width: 500px;
    overflow-wrap: break-word;

}

.text_dial_fr {
    max-width: 500px;
    overflow-wrap: break-word;
    align-self: start;
}

.time_msg_user {
    align-self: end;
    font-size: 11px;
    margin-right: -10px;
}


.time_msg_fr {
    align-self: start;
    font-size: 11px;
    margin-right: 10px;
}

.wrapper_not_messages {
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg_not_dialog {
    font-size: 30px;
    color:white;
}

.unread {
    box-shadow: 10px 5px 5px green;
}

.line_unread_msg {
    width: 99%;
    height: 30px;
    border-bottom: 3px solid green;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu_messages {
    position: absolute;
    font-size: 30px;
    left: 20px;
    top: 30px;
    cursor: pointer;
    text-shadow: 1px 1px 25px black;
    background-position: center;
    z-index: 3;
    max-height: 10px;
    border:1px solid red;
}

.menu_messages:hover {
}

.menu_messages_background {
    left: 16px;
    top: 54px;
    position: absolute;
    height: 12px;
    width: 30px;
    background-color: gray;
    border-radius: 10px;
}



.wrp_menu_msg_sett {
    position: absolute;
    background-color: rgba(0,0,0,0.68);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    left: -140px;
    bottom: 0px;
    color: white;
    z-index: 1000;
    width: 120px;
    height: 120px;
}

.wrp_menu_msg_sett-enter {
    opacity: 0;
}
.wrp_menu_msg_sett-enter-active {
    animation: menu_message 500ms forwards;
}
.wrp_menu_msg_sett-exit {
    opacity: 1;
}
.wrp_menu_msg_sett-exit-active {
    animation: menu_message_exit 500ms forwards;
}

@keyframes menu_message {
    0% {
        opacity: 0;
        left: -280px;
    }
    100% {
        opacity: 1;
        left: -140px;
    }
}
@keyframes menu_message_exit {
    0% {
        opacity: 1;
        left: -140px;
    }
    100% {
        opacity: 0;
        left: -280px;
    }
}


.wrp_menu_msg_sett_fr {
    position: absolute;
    background-color: rgba(0,0,0,0.68);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    right: -140px;
    bottom: 0;
    color: white;
    z-index: 999999999;
    width: 120px;
    height: 80px;
}

.wrp_menu_msg_sett_fr-enter {
    opacity: 0;
}
.wrp_menu_msg_sett_fr-enter-active {
    animation: menu_message_fr 500ms forwards;
}
.wrp_menu_msg_sett_fr-exit {
    opacity: 1;
}
.wrp_menu_msg_sett_fr-exit-active {
    animation: menu_message_exit_fr 500ms forwards;
}

@keyframes menu_message_fr {
    0% {
        opacity: 0;
        right: -250px;
    }
    100% {
        opacity: 1;
        right: -140px;
    }
}
@keyframes menu_message_exit_fr {
    0% {
        opacity: 1;
        right: -140px;
    }
    100% {
        opacity: 0;
        right: -250px;
    }
}


.el_menu_dlg {
    max-height: 40px;
    min-height: 40px;
    width: auto;
    top: 15px;
    display: flex;
    align-items: center;
    left: -60px;
}

.el_menu_dlg:hover {
    text-decoration: underline;
    text-decoration-color: green;
    /*border-bottom-width: 2px;*/
    /*border-bottom: white;*/
    /*border-bottom-style: solid;*/
}

.red_text {
    color: red;
}

.red_text:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.wrapper_original_msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(198,198,198,0.68);
}
.wrp_text_org_msg {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    margin-left: 10px;
}
.edit_org_msg_label {
    color:green;
}
.edit_org_msg {
    max-width: 700px;
    display: inline;
    align-self: auto;
}
.edit_org_msg_text {
    overflow-wrap: break-word;
}
.btn_can_edit_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.wrapper_info_msg_data {
    display: flex;
    justify-content: end;
    border: 1px solid red;
    width: auto;
}

.edit_msg_label {
    font-size: 10px;
}

.frwd_from_user {
    color: green;
    margin-bottom: 10px;
}

.wrapper_frwd_menu {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.close_frwd_menu {
    display: flex;
    justify-content: end;
    width: 400px;
    color: green;
    font-size: 22px;
}


.close_frwd_menu b {
    cursor: pointer;
}
.close_frwd_menu b:hover {
    text-shadow: white 1px 0 10px;
}

.frwd_menu {
    width: 400px;
    height: 500px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_frwd {
    width: 100%;
    height: 9%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frwd_msg_top_send_to {
    font-size: 20px;
}

.frwd_msg_top {
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}

.body_frwd {
    height: 80%;
    width: 100%;
    background-color: rgba(215,215,215,0.82);
}
.btm_frwd {
    width: 100%;
    height: 9%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_send_frwd {
    height: 40px;
    width: 100px;
    font-size: 16px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 15px;
}

.wrp_item_frwd {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.wrp_item_frwd:hover {
    background-color: rgba(13,97,15,0.4);
}

.item_frwd_selected {
    background-color: rgba(28,193,41,0.65);
    animation: selected_user_frwd 200ms forwards;
}

@keyframes selected_user_frwd {
    0% {
        margin-left: -20px;
    }
    25% {
        margin-left: 0px;
        margin-right: -20px;
    }
    75% {
        margin-left: -20px;
        margin-right: 0px;
    }
    100% {

        margin-left: 0px;
        margin-right: 0px;
    }
}

.wrp_item_frwd_img {
    width: 70px;
    height: 70px;
    margin-left: 5px;
    border-radius: 50%;
}

.wrp_item_frwd_username {
    width: 100%;
    margin-left: 10px;
    font-size: 22px;
}

.wrp_item_frwd_check {
    margin-right: 20px;
    font-size: 22px;
}

.disabled_btn {
    background-color: gray;
}

.slct_icon {
    position: absolute;
    left: -30px;
    text-shadow: white 1px 0 10px;
}
.slct_icon:hover {
    text-shadow: green 1px 0 10px;
}
.slct_icon_fr {
    position: absolute;
    right: -30px;
    text-shadow: white 1px 0 10px;
}
.slct_icon_fr:hover {
    text-shadow: green 1px 0 10px;
}

.slct_icon-enter {
    opacity: 0;
}
.slct_icon-enter-active {
    animation: check_message_select 300ms forwards;
}
.slct_icon-exit {
    opacity: 1;
}
.slct_icon-exit-active {
    animation: check_message_select_er 300ms forwards;
}

@keyframes check_message_select {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes check_message_select_er {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slct_icon_fr-enter {
    opacity: 0;
}
.slct_icon_fr-enter-active {
    animation: check_message_select_fr 300ms forwards;
}
.slct_icon_fr-exit {
    opacity: 1;
}
.slct_icon_fr-exit-active {
    animation: check_message_select_er_fr 300ms forwards;
}

@keyframes check_message_select_fr {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes check_message_select_er_fr {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sclt_msg {
    background-color: green;
}
.sclt_msg_box {
    text-shadow: green 1px 0 10px;
}