
.start_message {
    min-height: 840px;
    min-width: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    white-space: break-spaces;
    text-align: center;
    text-shadow: 0px 1px 10px white;
}

.dialog_user {
    min-height: 840px;
    min-width: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_dialog {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    align-items: center;

}
.userinfo_dialog{
    font-size: 25px;
    margin-left: 20px;
}
.menu_user_dialog{
    margin-right: 20px;
}

.content_dialog {
    height: 690px;
    background-color: rgba(214, 213, 213, 0.3);
    display: flex;
    flex-direction: column;
}
.message_crud_dialog{
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_dialog {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 40px;
}

.text_enter_dialog {
    height: 35px;
    width: 400px;
}
.btn_send_msg_dia {
    height: 35px;
    width: 100px;
}

.wrapper_dialog_user {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 400px;
    height: 60px;
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    margin-right: 30px;
}

.text_dial_user {
    margin-left: 10px;
}

.time_msg_user {
    align-self: end;
    font-size: 13px;
    margin-right: 10px;
}

.wrapper_dialog_fr {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    height: 60px;
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    margin-right: 30px;
    margin-left: 20px;
}

.text_dial_fr {
    margin-left: 10px;
}

.time_msg_fr {
    align-self: end;
    font-size: 13px;
    margin-right: 10px;
}