.wrapper_registration {
    width: 500px;
    height: 500px;
    border:2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.login_reg_label {
}

.psw_log_reg_inp {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.psw_reg_lbl {

}

.psw_log_reg_inp {

}

.psw_reg_lbl_conf {

}

.message_error {
    height: 30px;
    color: red;
}

.form_registration {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.wrapper_type_registration {
    height: 350px;
    border: 1px solid red;
}


.select_type_registration {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid green;
}

.text_registration {
    font-size: 30px;
    margin-bottom: -70px;
}
.item_menu_registration {
    max-height: 20px;
    font-size: 22px;
    cursor: pointer;
    min-height: 40px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.item_menu_registration:hover {
    background-color: green;
}

.body_type_registration {
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 120px;
}
.input_phone {
    width: 100%;
    height: 30px;
}